/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* DEBUG */
.debug ,
.debug * {
    padding: 5px;
    background-color: #ff000022;
    border: 2px dashed red;
}



/* ⚙️ VARIABILI ⚙️ */
:root {
    --section-spacing: 1rem;
}



/* UTILS */
section {
    padding: calc(2 * var(--section-spacing)) 0;
}


/* LAMPADINA CSS */
.lightbulb {
    display: inline-block;
    width: 10rem;
    height: 13rem;
}

.lightbulb.lit #bulb {
    background-color: yellow;
    box-shadow: 0 0 5rem 1px rgba(255, 255, 0, 1);
}

#bulb {
    box-shadow: 0 0 2rem 1px rgba(0,0,0,0.25);
    
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.base {
    background-color: #bbb;
    box-shadow: 0 0 2rem 1px rgba(0,0,0,0.25);

    margin: 0 auto;
    height: 3rem;
    width: 33%;
    border-radius: 0 0 3rem 3rem;

    margin-top: -.25rem;
}